 
/*
*
*  Top-related CSS
*
*/  

  body {
  	margin: 0;
  	padding: 0;  
  }
  
  main {
    min-height: 700px;
    overflow:auto;
  }
  
  #bar {
    float: left;
    width: 25%;
    height: 100%;
  }
  
  #sticky-bar {
    width: 100%;
    height: 60px;
    background-color: #5f5f5f;
    color: #fff;
    visibility: hidden;
    font-size: 2em;
    position: fixed;
  }
  
  #sticky-bar > span {
	font-size: 20pt;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    letter-spacing: 1pt;
    position: relative;
    top: 10px;
    left: 40px;
  }
  
  #sticky-bar.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
    visibility: visible;
  }
  
  
  
  #sticky-bar span#gobe-text::after {
    content: "";
 	background: url("http://i.imgur.com/xlZ9Y9C.png") top left no-repeat, 
 				url("http://i.imgur.com/cCUEmZ6.png") top right no-repeat;
    background-size: 48px, 48px;
    display: inline-block;
    width: 100px;
    height: 70px;
    margin: 4px 0 0 20px;
  }
  
  
  header {
  	width: 100%;
  	min-height: 100px;
  	height: 150px;
	background-color: #fff;
  	margin: 0;
  	top: 0px;
    background-clip: border-box;
    background-size: 100% auto;
    background-attachment: fixed;
  }
  
  #user-toolbar {
  	border: 0px;
  	//background: url(../../images/dothatch.png) rgba(0,0,0,0.9);
  	position: relative;
  	right: 0px;
  	top: 0px;
  	float: left;
  	width: 75%;
  	height: 100%;
  }
  
  h1 {
    display: none;
  }
  
  #logo-wrapper {
    left: 21%;
	max-height: 100%;
	display: table;
    position: relative; 	
    margin-top: 50px;
    z-index: 5;
  }
  
  #logo-wrapper  > #go {
    float: left;
    display: table-cell;
	vertical-align: middle;
	padding-left: 10px;
  }
  
  #logo-wrapper  > #be {
  	float: left;
  	clear: both;
  	margin-left: 10px;
  	display: table-cell;
  	vertical-align: middle;
  }

  #logo-wrapper  > #go > img {
	max-height: 100%;
	width: 110px;
  }
  
  #logo-wrapper  > #be > img {
	max-height: 100%;
	width: 110px;
  }  
  
  .login-wrapper {
    padding-top: 0px;
    margin: auto;
    float: right;
    margin-right: 12%;
  }
  
  
  #toolbar-wrapper {
    padding: 110px 0;
  
  }
  
  .login, .signup, .header-links {
    font: 10pt Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    float: left;
    margin: 0;
  }
    
  .header-links a {
    color: #afafaf;
    text-decoration: none;
  }
  
  .header-links a::after {
  	content: "";
  	padding-right: 20px;
  }

  .header-links a:first-child { 
    color: #000;
  }
  
  .signup, .logout, .edit-button, .delete-button {
    padding: 3px 8px;
    border-radius: 3px;
    font-weight: 300;
    color: #fff;
    font-size: 9pt;
    background-color: #afafaf;
    text-decoration: none;
    cursor: pointer;
  }


  main::after {
  	content: "";
  	display: block;
  }
  
  #footer, main::after {
  	height: 100px; 
  }
  
  #footer {
    background: #fafafa; 
    color: #999;
    display: none;
  }

/*
*
*  Calendar hacks
*
*
*/ 

  
  .fc button { 
    font: 10pt Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: .85em;
  }
  
  h2, th,
   .fc-event, .fc-time {
    font-family: Helvetica, sans-serif;
  }
  
  h2 {
	font-size: 21pt;
	font-weight: 300;
  }
  
  th {
    font-weight: 300;
  }
  
  .fc-unthemed .fc-today {
    /*background: url('http://i.imgur.com/b3rh9Mb.png');*/
    background: url('http://i.imgur.com/IDaKJZ9.png');
    background-color: #f3f3f3;
  }
  
  .fc-event, .fc-time {
    font-weight: 200;
  }

  
/*
*
*  Content-related CSS
*
*/  
  
  
  #helper-text {
  	color: #afafaf;
  	font-size: 9pt;
  }
  
  #helper-text::after {
  	content: "";
  	padding-right: 5px;
  }
  
  #content-block-wrapper {
    height: 100%;
    width: 100%;
  }
  
  .content-block {
    z-index: 10;
    position: relative;
    width: 35%;
    margin: 100px 7%;
    font-size: 21pt;
    font-weight: 300;
    letter-spacing: 0px;
  }
  
  .content-block p {
     font-family: Helvetica, sans-serif;
  }
  
  .content-block p.body-text {
  	font-size: 12pt; 
  	line-height: 20pt;
  }
  
  #login-prompt {
  	visibility: visible;
  	float: left;
    position: relative;
    display: none;
  }
  
  #signup-prompt {
  	visibility: hidden;
  	left: 40%;                 /*margin-left -42%*/
    float: left;
    min-width: 400px;
  }
  
  #guidelines-left,
  #guidelines-right {
  	max-width: 400px;
  	float: left; 
  	left: 30px;
  	display: none;
  }
  
  #non-sponsor-prompt {
    display: none;
    float: left;
    position: relative;
    margin-top: -200px;
  }
  
  #sponsor-form-prompt {
  	display: none;
  	left: 40%;                
    float: left;
    min-width: 400px;
    position: relative;
    margin-top: -200px;
  }
  
  #homebound-entry {
  	display: none;               
    float: left;
    min-width: 500px;
    margin-right: 50px;
  }
  
  #homebound-entry > form {
    margin-top: 20px;
  }
  
  #homebound-viewer {
  	display: none;               
    float: left;
    margin-left: 0;
    max-width: 500px;
  }

  #sponsor-completed-homebounds {
    min-width: 500px;
    min-height: 600px;
    float: left;
  }

  #user-tools-login {
    max-width: 300px;
    float: left;
  }
  
  #user-tools-profile {
    max-width: 300px;
    float: left;
    margin-top: -50px;
  }

  #partner-prompt {;
    float: left;
    position: relative;
  }
  
  #partner-form-prompt {
  	display: none;
  	left: 40%;                
    float: left;
    min-width: 400px;
    position: relative;
  }

  ul.sponsor-form-tabs {
    padding: 0;
  }

  .sponsor-form-tabs li {
    list-style: none;
	display: table-cell;
  }
  
  .sponsor-form-tabs li:last-child {
  	width: 100%;
  }
  
  .sponsor-form-tabs li.active {
    border: 1px solid #ccc;
    border-bottom: 1px solid #fff;
  }
  
  .sponsor-form-tabs a,
	span.empty-tab {
    padding: 5px 10px;
	display: inline-block;
	background: #fff;
	color: #999;
	text-decoration: none;
    border-bottom: 1px solid #ccc;
  }
  
  span.empty-tab {
  	width: 100%;
  	color: #fff;
  }
  
  span.empty-tab::before {
	content: "";
    width: 20px;
    height: 20px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAMAAAAMs7fIAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAABFUExURUxpcfDw8O3t7f///+3t7e3t7e3t7e3t7e3t7e3t7dDQ0MrKyo6OjuDg4PX19dfX1+vr6+Xl5f7+/vb29vf39/Hx8fPz8/oi9B0AAAAKdFJOUwD////g8LCgIJBxY7c2AAAAh0lEQVQY022Q2xKFIAhFYVNpmFl2+f9PPaLVQ6c1ow9rEDYSFbzrAHTO08WIm7GJAYgaQtAIDK1i0TSLyJx0sSoP6CqNVQFPDjHJTYpw1EPtiUx2zYqegCCPkQBUwzwZzI85uLhyjmqsz36ZvfaxWflk48x1Vs2TtyK23PL8Z/7Y62P31//8ALTDBmn5r9gJAAAAAElFTkSuQmCC);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 13px;
    display: inherit;
  }
  
  .sponsor-form-tabs a.active {
    background: #fff;
    border: 1px solid #ccc;
    border-bottom: 1px solid #fff;
  }

  span.form-tab {
    font-size: smaller;
    font-weight: 200;
    letter-spacing: 0px;
    font: 10pt Arial, Helvetica, sans-serif;
    text-transform: uppercase;
  }

  #sticky-bar > .login-wrapper {
  	margin: 0;
  	max-width: 65%;
  	height: 20px;
  	right: 40px;
  	top: 20px;
  	position: fixed;
  }
  
  .login-form-state {
  	top: -15px;
    position: relative;
  }
  
  p.sorting-header {
	font-size: 8pt;
    margin-left: 210px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  p.listing-text {
  	font-size: medium;
    white-space: nowrap;
  }
  
  p.listing-text.expanded {
  	height: auto;
  	text-overflow: initial;
  }
  
  p.listing-text.collapsed {
  	height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  #sponsor-completed-homebounds p.listing-text {
    height: 17px;
  }
  
  span.numbering {
    font-size: medium;
    margin: 10px 30px 0 10px;
    cursor: pointer;
  }
  
  p.account.listing-text #name {
  	min-width: 100px;
  }
  
  p.account.listing-text #email {
  	max-width: 50%;
    width: 40%;
  }

  p.listing-text #name {  
    display: inline-block;
    min-width: 140px;
    padding-right: 7px;
    cursor: pointer;
  }
  
  p.listing-text #address {
  	font-size: 9pt;
  	vertical-align: text-top;
    line-height: 13pt;
  }
  
  p.listing-text #maps-tab {
    width: 13px;
    height: 13px;
    display: inline-block;
  }
  
  a.new-window {
    display: inline-block;
    text-decoration: none;
    vertical-align: text-top;
    line-height: 14px;
    font-size: 10pt;
  }
  
  p.listing-text #homebound-notes,
    p.listing-text #phone-email {
	font-size: 10pt;
    white-space: pre-line;
    width: 70%;
    display: inline-block;
    margin: 10px 0 10px 210px;
  }
  
  p.listing-text #homebound-notes {
    line-height: 16pt;
  }
  
  p.listing-text #phone-email {
  	font-size: 9pt;
    line-height: 12pt;
  }
  
  p.listing-text #email {
    font-size: 10pt;
    display: inline-block;
    width: 40%;
    text-overflow: ellipsis;
  }
  
  p.listing-text span.homebound-checkbox {
    white-space: pre-line;
    font-size: 10pt;
    line-height: 15pt;
    margin-left: 210px;
  }
  
  p.listing-text .date {
    font-size: 10pt;
    line-height: 35pt;
    background: url("http://icons.iconseeker.com/png/fullsize/iphone/calendar-blank.png") no-repeat;
    background-size: 13px;
  }
  
  p.listing-text #date-added {
    white-space: pre-line;
    margin-left: 210px;
  }
  
  p.listing-text #date-moved {
    white-space: pre;
  }
  
  p.listing-text .date > span {
    font-size: 6pt;
    margin: 0 10px 0 2px;
    text-align: center;
    vertical-align: middle;
  }
  
  #user-tools-login input[type='email'],
   #user-tools-login input[type='password'] {
  	width: 40%;
  	font-size: 8pt;
  	float: right;
  }
  
  #user-tools-profile input[type='text'] {
  	font-size: 8pt;
  	float: right;
  }
  
  #user-tools-login input[type='submit'],
   #user-tools-profile input[type='submit'],
    #user-tools-profile input[type='submit'] {
  	float: right;
  	margin: 0 10px 0 5px;
  	clear: right;
  } 
  
  #user-tools-login form label, 
   #user-tools-profile form label {
  	font-size: 10pt;
  	font-family: Helvetica, sans-serif;
	font-style: italic;
  }
  
  #user-tools-login form label,
  #user-tools-profile form label {
    float: right;
    text-align: left;
    display: inline-block;
    line-height: 20px;
    vertical-align: middle;
  }
  
  #user-tools-login form label {
    width: 100px;
  } 
  
  #user-tools-profile form label {
    margin-right: 10px;
  }
  
  form#tools-update-email,
  form#tools-update-password,
  form#tools-update-sponsor {
    display: none;
  }
  
  form#tools-update-sponsor {
  	padding: 10px 15px 0 0;
  }
  
  #remove-homebound-entry,
  #edit-homebound-entry {
    margin: 12px 0 0 5px;
    float: right;
  }
  
  #edit-sponsor-data {
    margin-right: 30px;
    float: right;
  }
  
  p.form-text {
    font-size: 12pt;
    font-style: italic;
    margin: 30px 10px;
    line-height: 23px;
  }
  
  p.form-text > input {
    left: 10px;
    position: relative;
    float: right;
    margin-right: 20%;
  }

  p.form-text > input.form-button {
    margin-top: 30px;
  }
  
  p.form-text > input::required {
    background: red;
  }
  
  span.form-service-msg {
    font-size: 8pt;
    float: right;
    margin-right: 18%;
    margin-top: -6px;
  }
  
  span.green {
  	color: green;
  }
  
  span.red {
  	color: red;
  }
  
  span.form-checkbox {
    font-size: 8pt;
    float: right;
    margin-left: 10%;
  }
  
  p.form-text > input[type="checkbox"] {
    float: right;
    margin: 5px 5px 0 -5px;
  }
  
  p.form-text > select {
    float: right;
    margin-right: 17%;
  }
  
  p.form-text > select:required {
    background-image: url(data:image/gif;base64,R0lGODlhCgAKANUgAP87O/8GBv9LS/8nJ/8rK/8pKf/7+//z8//h4f8wMP+Dg/+AgP/09P8CAv8LC/8ODv8kJP8JCf8XF/8ICP80NP8PD/8aGv8mJv83N/8QEP9QUP8BAf8HB/8YGP9aWv8AAP///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAACAALAAAAAAKAAoAAAZGQBCIAUoAhEhFB2G5gDwLkKHA6Uguno1GeKA2HFqhAEOJfD4VDEYwyGQC58YjMxBmJ4Eqwq61QAhVRAtbTQcECkhCRlJCQQA7);
    background-repeat: no-repeat;
    background-size: 5px;
    background-position: 98% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 2px 13px 2px 6px;
  }
  
  p.form-text > input:required:invalid, 
  p.form-text > input:focus:invalid,
  #tools-update-sponsor > input:required:invalid,
  #tools-update-sponsor > input:focus:invalid {
    background-image: url(data:image/gif;base64,R0lGODlhCgAKANUgAP87O/8GBv9LS/8nJ/8rK/8pKf/7+//z8//h4f8wMP+Dg/+AgP/09P8CAv8LC/8ODv8kJP8JCf8XF/8ICP80NP8PD/8aGv8mJv83N/8QEP9QUP8BAf8HB/8YGP9aWv8AAP///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAACAALAAAAAAKAAoAAAZGQBCIAUoAhEhFB2G5gDwLkKHA6Uguno1GeKA2HFqhAEOJfD4VDEYwyGQC58YjMxBmJ4Eqwq61QAhVRAtbTQcECkhCRlJCQQA7);
    background-repeat: no-repeat;
    background-size: 5px;
    background-position: 98% 50%;
    -moz-box-shadow: none;
  }
  
  p.form-text > input:required:valid,
  #tools-update-sponsor > input:required:valid {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAL1JREFUeNpi/P//PwMlgImBQjDwBrCgCzDOF2Zg+Adk/AOGDRvQfHZGoDWMxgyMDMb/Q1/NIt0F/xk8gIbNZPj7P41YL4AUGsM1//rfkuyeYMzw8z9xXgBqgNm0nuHnv0D/IH/juavmngV6oYY4F3z7y2DqY2oMpANB9MYl684yfP9XA3TNDuIM+PGv5vTCY2dlAxWMQTSIz/D//w6iYwFs06vfDI+7b7QwsDLWMIix7sAXxoyjSZlyAwACDADjvUes7rU7JAAAAABJRU5ErkJggg==);
    background-size: 10px;
    background-position: 100% 50%;
    background-repeat: no-repeat;
  }
  
  #maps-block {
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
    position: relative;
  }
  
  #maps-block > img {
    width: 100%;
    position: relative;
  }
  
  .align-right {
    float: right;
    margin: 20px 60px;
  }
  
  
/*
*
*  image-blocking CSS
*
*/  
  
  #image-grid-container {
    width: 90%;
    height: 350px;
    position: relative;
    margin: 50px auto;
    /*overflow: auto;*/
  }
  
  #image-grid-container > #first-half,
  #image-grid-container > #second-half  {
    height: 100%;
    float: left;
  }
  
  #image-grid-container > #first-half {
    width: 58%;
  }
  
  #image-grid-container > #second-half {
    width: 42%;
  }
    
  .image-block {
    float: left;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden
  }  
    
  .image-block > img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    //-webkit-filter: grayscale(1);
    //filter: grayscale(1);
  }
  
  .image-block.vert > img {
    min-width: 100%;
    max-height: 100%;    
  }
  
  .image-block.horiz > img {
    max-width: 100%;
    min-height: 100%;    
  }
  
  
  .small.vert.bigger {
    height: 45%;
    width: 17%;
    margin: 0 0 1% 1%;
  }
  
  .small.vert.smaller {
    height: 40%; 
  }
  
  .big.vert {
  	width: 53.7%;
  	height: 100%;
  }
  
  .small.horiz.smaller {
    width: 35%;
    height: 53%;
    margin-left: 1%;
  }

  .small.horiz.bigger {
    width: 45%;
    height: 55%;
    margin-left: 1.3%;
  }
  
  .big.horiz {
    height: 100%;
    width: 63%;
  }

  .last {
    margin: 1.3% 0 0 1.3%;
    width: 45%;
    height: 42.7%;
  }
  
 
/*
*
*  Calendar/Map related CSS
*
*/  

  #cal-wrapper {
	width: 60%;
    margin: 100px 0 0 7%;
  }
  
  .calendar-event {
    color: pink;
  }
  
  #map-wrapper {
  	width: 100%;
  	height: 400px;
  	margin: 100px auto;
  }
  
  #map {
    width: 100%;
    height: 100%;
  } 
  
  .scrolloff {
    pointer-events: none;
  }
  
  
/*
*
*  iPad responsive
*
*/  
    

@media all and (max-width: 600px) {

  header {
	height: 70px;
	background-color: #fff;
  }
	
  #bar {
 /*   background-size: 100% auto;
    background-position: 50% 0%; */
    width: 100%;
  }

  #logo-wrapper  {
    position: relative;
    top: 50%;
    left: 18%;
    transform: translate(-50%, -50%)
  }
    
  #toolbar-wrapper > .login-wrapper {
    margin-right: 8%;
  }
  
  #user-toolbar {
  	position: relative;
  	background-color: #fff;
  	width: 100%;
  	height: 120px;
  	right: 0px;
  	top: -25px;
  }
  
  #toolbar-wrapper {
    width: 100%;
    padding: 0 0;
  
  }
  
  .header-links {
	float: right;
    margin-right: auto;
    width: 60%;
    padding-bottom: 30px;
  }
  
  .header-links::after {
    content: '\A';
  	white-space: pre;
  }
  
  #sticky-bar > .login-wrapper {
  	margin: 0;
  	max-width: 65%;
  	height: 20px;
  	right: 40px;
  	top: 20px;
  	position: fixed;
  }
  
  
  #content-block-wrapper {
    width: 1000px;
    position: relative;
  }
  
  .content-block {
  	margin: 0px 7%;
  	width: 350px;
  }
  
  span.form-service-msg {
    margin-right: 4%;
  }
  
  p.form-text > input {
    margin-right: 5%;
  }
  
  p.form-text > input.form-button {
    clear: both;
  }
  
  
  /* images */
  #image-grid-container {
    width: 500px;
    height: 400px;
    position: relative;
    background-color: #efefef;
    margin-top: 100px;
    margin-left: 5%;
  }
  
  #image-grid-container > #first-half,
  #image-grid-container > #second-half  {
    width: 100%;
    float: left;
  }
  
  #image-grid-container > #first-half {
    height: 45%;
  }
  
  #image-grid-container > #second-half {
    clear: left;
    height: 55%;
  }
  
  #image-grid-container > #second-half > div {
    float: right;
  }
  
  .big.horiz {
    height: 97%;
    width: 64%;
  }
  
  .small.horiz.smaller {
    height: 49.5%;
  }
  
  .small.horiz.bigger,
  .last {
    width: 49%;
    margin-left: 0;
  }
  
  .big.vert {
  	width: 50%;
  	height: 100%;
  	margin-left: 1%;
  }
}


  
/*
*
*  mobile/iPhone responsive
*
*/  
  

@media all and (max-width: 450px) {

  header {
	height: 250px;
	background-color: #fff;
  }
	
  #bar {
 /*   background-size: 100% auto;
    background-position: 50% 0%; */
    width: 100%;
  }

  #logo-wrapper  {
    position: relative;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
  
  #user-toolbar {
  	position: relative;
  	background-color: #fff;
  	width: 100%;
  	height: 120px;
  	right: 0px;
  	top: 0px;
  }
  
  #toolbar-wrapper {
    width: 100%;
    padding: 0 0;
  }
  
  #toolbar-wrapper > .login-wrapper {
    margin-right: 10%;
  }
  
  .header-links {
  	margin: 0 auto;
    position: relative;
    width: 360px;
  }
  
  #content-block-wrapper {
    width: 850px;
    position: relative;
  }
  
  .content-block {
  	margin: 0px 6%;
  	width: 320px;
  }
  
  #signup-prompt {
  	left: 500px;
  	min-width: 35%;
  }
  
  #sticky-bar > .login-wrapper {
  	margin: 0;
  	max-width: 65%;
  	height: 20px;
  	right: 0;
  	top: 20px;
  	position: fixed;
  }
  
  article.login-form-state {
    max-width: 100%;
    max-height: 35px;
  }
  
  .login-form-state > form > input[type='username'],
  .login-form-state > form > input[type='password'] {
    width: 22%;
  }
  
  .align-right {
    margin: 0;
  }

  p.form-text > input {
    margin-right: 0;
  }
  
  span.form-service-msg {
    margin-right: 0;
  }
  
  #image-grid-container {
    width: 325px;
    height: 400px;
    position: relative;
    background-color: #efefef;
    margin-left: 7%;
  }
  

}

/* For the headers to look good, be sure to reset the margin and padding of the body */

body {
	margin:0;
	padding:0;
}