@()(implicit toolbar : models.Secure.Toolbar)
@import helper._

@main("Account"){
<main id="account">

@if(toolbar.authorized) {
<div id="content-block-wrapper">
	<div class="content-block" id="sponsor-completed-homebounds">
	  <p>Completed Box Drops</p>
	  <p class="listing-text">
	    <span class="numbering">1.</span>
	    <span id="name">Jason Webb</span>
	    <span id="email">jason.webb@@gobe.com</span>
	    <span class="date" id="date-moved"><span>10</span>10/5/2015</span>
	  </p>
	
	  <p class="listing-text">
	    <span class="numbering">2.</span>
	    <span id="name">Marge Lawson</span>
	    <span id="email">marge.lawson@@gobe.com</span>
	    <span class="date" id="date-moved"><span>10</span>10/13/2015</span>
	  </p>
	  
	  <p class="listing-text">
	    <span class="numbering">3.</span>
	    <span id="name">George Reed</span>
	    <span id="email">george.reed@@gobe.com</span>
	    <span class="date" id="date-moved"><span>10</span>10/28/2015</span>
	  </p>
	  
	  <p class="listing-text">
	    <span class="numbering">3.</span>
	    <span id="name"> -- </span>
	    <span id="email"> -- </span>
	    <span class="date" id="date-moved"><span>00</span>--/--/----</span>
	  </p>
	</div>
	
	<div class="content-block" id="user-tools-login">
	<p>Account</p>
	<p class="account listing-text">
	  <span id="name">@toolbar.user</span>
	  <span id="email">lcbailey@@syr.edu</span>
	  <a id="edit-user-data" class="edit-button">edit</a>
	</p>
	  <form id="tools-update-email">
	    <input class="form-button" type="submit" id="change-password"  tabindex="2" value="Update">
	    <input type="email" name="email" id="user-email" placeholder="email@@example.com" tabindex="1" required>
     	<label>new email</label>
     </form><br/>
     <form id="tools-update-password">
        <input class="form-button" type="submit" id="change-password" value="Update"  tabindex="4" >
        <input type="password" name="password" id="password" placeholder="password" pattern=".{5,}"  tabindex="3" required title="5 characters minimum">
	  	<label>new password</label>
	  </form>
	</div>

</div>
}

</main>
}

