@(bowls: List[models.Bowl], noods: List[models.Nood])(implicit toolbar : models.Secure.Toolbar)

@main("Admin Dashboard"){
<main id="dashboard">
<h1>GoBE - Dashboard</h1>

<table class="dashboard-table">
  <tr>
    <td>Nood Name</td>
    <td>Nood Type</td>
    <td>Has Nick?</td>
    <td>Nood Nick</td>
    <td>Nood Desc</td>
    <td>GPS</td>
    <td>date Added</td>
    <td>Is Rated?</td>
    <td>Street Address</td>
    <td>Phone Number</td>
    <td>User Login ID</td>
    <td>Containing Bowls</td>
  </tr>
	@noods.map { sp =>
  <tr>
	<td>@sp.noodName</td>
	<td>@sp.noodType</td>
	<td>@sp.hasNick</td>
	<td>@sp.noodNick</td>
	<td>@sp.noodDesc</td>
	<td>@sp.gpsLocation</td>
	<td>@sp.dateAdded</td>
	<td>@sp.isRated</td>
	<td>@sp.streetAddress</td>
	<td>@sp.phoneNumber</td>
	<td>@sp.userLoginId</td>
	<td>@sp.containingBowls</td>
	</tr>
	}
</table>

<table class="dashboard-table">
  <tr>
    <td>Homebound Name</td>
    <td>GPS</td>
    <td>Already Moved?</td>
    <td>Has Sponsor?</td>
    <td>Already In Home?</td>
    <td>Profile Pic URL</td>
    <td>Home Address</td>
    <td>Bio</td>
    <td>Age</td>
    <td>Has Pets?</td>
    <td>Has Kids?</td>
    <td>Has Box?</td>
    <td>Sponsor User ID</td>
  </tr>
	@bowls.map { b =>
  <tr>
	<td>@b.bowlName</td>
	<td>@b.mapCenter</td>
	<td>@b.isMoved</td>
	<td>@b.hasSponsor</td>
	<td>@b.alreadyInHome</td>
	<td>@b.urlProfilePic</td>
	<td>@b.homeAddress</td>
	<td>@b.bio</td>
	<td>@b.age</td>
	<td>@b.hasPets</td>
	<td>@b.hasKids</td>
	<td>@b.hasBox</td>
	<td>@b.currentSponsorId</td>
	</tr>
	}
</table>
</main>
}
