@(loginForm : Form[models.Secure.Login])(implicit toolbar : models.Secure.Toolbar)
@import helper._

@main("Dashboard"){
<main id="dashboard">

@if(toolbar.authorized) {
<div id="content-block-wrapper">
  <div class="content-block" id="non-sponsor-prompt">
  	<p>
  	Hot yummy noodles, floating in a sea of broth. Where’s my friggin’ spoon?
  	</p><p class="body-text">Create a map or search for a group already here.</p>
  	<input type="button" id="proceed-to-sponsor" value="Next">
  </div>
  
  <div class="content-block" id="sponsor-form-prompt">
	  <ul class="sponsor-form-tabs">
		<li><a href="#organization"><span class="form-tab">Organization</span></a></li>
		<li><a href="#individual"><span class="form-tab">Individual</span></a></li>
		<li><span class="empty-tab">partner</span></li>
	  </ul>
	  <div id="individual">
		<p>Make a change by yourself.</p>
		@form(action = routes.Creator.addNood, 'id -> "create-sponsor-indv") { 
		<p class="form-text"><label>Your Name</label>
			<input type="text" name="noodName" id="noodName" size="35" tabindex="1" required>
		</p>
		<p class="form-text"><label>Nood Type</label>
			<input type="text" name="noodType" id="noodName" size="35" tabindex="1" required>
		</p>
		<p class="form-text"><label>Nood Nick</label>
			<input type="text" name="noodNick" id="noodName" size="35" tabindex="1" required>
		</p><p class="form-text"><label>City and Zip</label>
		    <input type="hidden" name="street" id="street">
		    <input type="text" name="zip" id="zip" placeholder="90210" tabindex="3" size="8" pattern="(\d{5}([\-]\d{4})?)" required>
		    <input type="text" name="city" id="city" placeholder="Los Angeles" tabindex="2" size="20" style="margin-right: 7px;" required>
		</p><p class="form-text"><label>Phone Number</label>
			<input type="text" name="phoneNumber" id="indv-phone" size="30" tabindex="4">
			
			<input type="hidden" name="userLoginId" id="userLoginId" value="@toolbar.user">			
			<input type="hidden" name="location.latitude" id="location_latitude">
			<input type="hidden" name="location.longitude" id="location_longitude">
			<input type="hidden" id="hasFirstDrop" name="hasFirstDrop" value="false">
			<input type="hidden" id="isAuthorized" name="isAuthorized" value="false">
			<input type="hidden" name="workingAddress" id="workingAddress" value="">
			<input type="hidden" name="pointOfContact" id="pointOfContact" value="">	
			
			<input class="form-button" type="submit" id="indv-sponsorsubmit" tabindex="5">
		</p>
	  }
	  </div>
  </div>

</div>
}

</main>
}

