@()(implicit toolbar : models.Secure.Toolbar)
@import helper._

@main("Legal"){
<main id="guidelines">

<div id="content-block-wrapper">
	<div class="content-block" id="guidelines-left">
	<p>Some Tips for Starters</p><p class="body-text">
Donec blandit nunc in venenatis porttitor. Fusce lobortis augue non diam cursus sodales. Phasellus pretium a mi non placerat. Aenean ligula justo, tempus ut turpis eget, laoreet faucibus turpis. 
<br/><br/>
Praesent eu mattis nunc. Praesent tempus porta lacinia. Suspendisse venenatis, ligula sed luctus sagittis, sapien ligula eleifend erat, euismod luctus velit felis id erat. Donec ac lacinia felis. Nullam faucibus elementum tellus nec congue. In nec commodo felis. Donec aliquet velit lobortis leo porttitor, et viverra arcu convallis. Integer ornare lorem sit amet nunc bibendum tristique. Nulla facilisi. Etiam at scelerisque velit. Nunc massa augue, vehicula eget libero ullamcorper, tempus rhoncus neque. Quisque ultricies sem sit amet odio cursus, eu rhoncus est faucibus.
<br/><br/>
Morbi molestie justo pharetra vulputate consectetur. Cras convallis quam nunc, et bibendum sapien porttitor vitae. Donec id vestibulum diam, non vehicula massa. Nam vestibulum turpis sed cursus porta. Vestibulum a dolor lacus. Ut in odio rhoncus, varius lorem ut, sodales massa. Duis congue, dolor ac tincidunt aliquam, lorem urna tempus ex, non lobortis justo ligula eu urna. Proin blandit neque sollicitudin neque dignissim ullamcorper sed quis mi.	  
	</p></div>
	
	<div class="content-block" id="guidelines-right">
	<p class="body-text">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis euismod, felis sed tempor molestie, sem neque luctus mauris, nec ultrices erat urna sodales libero.
<br/><br/>
Quisque pretium est vel ligula dictum, nec rutrum massa lobortis. Vivamus sodales pulvinar dui id tincidunt. Pellentesque eget ligula sem. Vestibulum malesuada nunc vel sapien tincidunt, non commodo tortor feugiat. Praesent ac ultrices risus, non lobortis augue. Vivamus eget arcu nibh. Cras ultrices justo nulla, ut fringilla arcu auctor id. Nullam non nunc quis ex posuere auctor. Fusce ullamcorper porttitor ornare. Aliquam in tempus dolor.
<br/><br/>
Pellentesque viverra tellus nec rutrum malesuada. Maecenas congue mauris a dapibus elementum. Ut tempus vehicula lacus. Donec dignissim nibh nec libero aliquam, nec bibendum nisl auctor. Suspendisse velit elit, molestie non maximus sed, posuere in nisl. Vestibulum erat orci, lacinia sed neque vel, faucibus finibus urna. Pellentesque posuere interdum metus dictum iaculis. Vivamus ex dolor, scelerisque sed vestibulum ac, ullamcorper non metus. Phasellus mattis dolor tortor, non cursus nibh molestie ac. Suspendisse egestas commodo nisl ut sodales. Pellentesque non nibh eget turpis ultricies dictum. Vivamus sit amet purus non turpis vestibulum facilisis in non magna.
	</p></div>
</div> 

</main>
}
