@()(implicit toolbar : models.Secure.Toolbar)
@import helper._

@main("Legal"){
<main id="guidelines">

<div id="content-block-wrapper">
	<div class="content-block" id="guidelines-left">
	<p>Do Not:</p><p class="body-text">
1) Loan or give out money - instead, explore community resources, and problem solve other ways in which they can get their financial needs met
<br/><br/>
2) Accept money or any form of payment
<br/><br/>
3) Provide transportation in your personal vehicle. Instead, work with them to explore alternative methods of transportation
<br/><br/>
4) Physically touch other than what is necessary, professional, and / or therapeutically appropriate
<br/><br/>
5) Give out personal information or address
<br/><br/>
6) Provide any medication of any type - including aspirin
<br/><br/>
7) Ask probing questions if they seem uncomfortable opening up	</p></div>
	
	<div class="content-block" id="guidelines-right">
	<p>Do:</p><p class="body-text">
1) Smile!
<br/><br/>
2) Be positive
<br/><br/>
3) Be respectful
<br/><br/>
4) Be a good listener
<br/><br/>
5) Look around for needs that have not been met yet
<br/><br/>
6) Look everyone in the eyes
<br/><br/>
7) Have fun, and enjoy the good in everyone
<br/><br/>
8) Provide each person with dignity
<br/><br/>
9) Ask for a time when you can come back or meet somewhere, when appropriate
<br/><br/>
10) Make a friend, when appropriate nec bibendum nisl auctor. Suspendisse velit elit, molestie non maximus sed, posuere in nisl. Vestibulum erat orci, lacinia sed neque vel, faucibus finibus urna. Pellentesque posuere interdum metus dictum iaculis. Vivamus ex dolor, scelerisque sed vestibulum ac, ullamcorper non metus. Phasellus mattis dolor tortor, non cursus nibh molestie ac. Suspendisse egestas commodo nisl ut sodales. Pellentesque non nibh eget turpis ultricies dictum. Vivamus sit amet purus non turpis vestibulum facilisis in non magna.
	</p></div>
</div> 

</main>
}
