@(loginForm : Form[models.Secure.Login])(implicit toolbar : models.Secure.Toolbar)
@import helper._

@main("Signup"){
<main id="signup">

<div id="content-block-wrapper">
  <div class="content-block" id="login-prompt">
  	<p>
  	Login or sign up to begin. Here you can contribute to the cause by helping men and women build homes.
  	</p>
  </div>
  
  <div class="content-block" id="signup-prompt">
  	<p>
  	Sign up with a few fields. 
  	</p>
  	@form(action = routes.ManageUsers.addUser, 'id -> "create-user-login") {
  	<p class="form-text"><label>pick a username</label>
    	<input type="username" name="username" placeholder="username" id="username" size="30" pattern=".{5,}" required title="5 characters minimum">
        <span class="form-service-msg"></span>
    </p><p class="form-text"><label>and a password</label>
    	<input type="password" name="password" id="password" placeholder="password" size="30" pattern=".{5,}" required title="5 characters minimum">
    </p><p class="form-text"><label>and your email</label>
    	<input type="email" name="email" id="email" placeholder="email@@example.com" size="30" required>
        <input class="form-button" type="submit" id="loginbutton">
    </p>
    }
  </div>
</div>

</main>
}

