@()(implicit toolbar : models.Secure.Toolbar)
@import helper._

<article id="toolbar-wrapper">
  <div class="header-links">
  	<a href="@routes.Dashboard.index">Home</a>
  	<a href="@routes.Creator.nood">Noods</a>
  	<a href="#">Bowls</a>
  	@if(toolbar.isAdmin || toolbar.canWrite) {
  	<a href="@routes.Creator.bowl">Bowls</a>  	
  	} 
  	<a href="@routes.Dashboard.account">Account</a>

  </div>
  <div class="login-wrapper">
	@toolbar.user.map { user =>
	@if(toolbar.authorized) {
	<p class="login">
	  <span id="helper-text">Logged in as:</span><b> @user </b>&nbsp;
  	  <a class="logout" href="@routes.Authentication.logout" target="_top">logout</a>
    </p>
	}
	@if(!toolbar.authorized) {
  	<p class="login">
      <article> 	  
      @form(action = routes.Authentication.authenticate) {	
      	<input type="username" name="username" placeholder="username" id="username" required />  
      	<input type="password" name="password" placeholder="password" id="password" required />  
        <input type="submit" id="loginbutton" value="Login">
        <input type="button" id="signup-button-top" value="Sign Up">
        }
  	  </article>
    </p>
    }}
  </div>
</article>